################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
infra/.terraform/
/frontend/IaC/.terraform
